{% extends "_layout" %}

{% block content %}
    <section class="secties2 alle-r">
      <article>
          <img src="https://fakeimg.pl/500x300" alt="">
          <div>
            <h2><a href="./pages/ReceptDetails.html">Recept Titel 1</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <a href="./pages/ReceptDetails.html">Lees meer</a>
          </div>
      </article>
  
      <article>
          <img src="https://fakeimg.pl/500x300" alt="">
            <div>
              <h2><a href="./pages/ReceptDetails.html">Recept Titel 2</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              <a href="./pages/ReceptDetails.html">Lees meer</a>
            </div>
        </article>
  
        <article>
          <img src="https://fakeimg.pl/500x300" alt="">
            <div>
              <h2><a href="./pages/ReceptDetails.html">Recept Titel 3</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              <a href="./pages/ReceptDetails.html">Lees meer</a>
            </div>
        </article>

        <article>
          <img src="https://fakeimg.pl/500x300" alt="">
            <div>
              <h2><a href="./pages/ReceptDetails.html">Recept Titel 3</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              <a href="./pages/ReceptDetails.html">Lees meer</a>
            </div>
        </article>
      </section>
{% endblock %}