{% extends "_layout" %}

{% block content %}
    <section class="secties2 alle-r">
        <article>
            <img src="https://fakeimg.pl/500x300" alt="">
            <div>
              <h2><a href="./pages/ReclameDetails.html">Reclame Titel 1</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat.</p>
              <a href="./pages/ReclameDetails.html">Lees meer</a>
            </div>
        </article>
    
        <article>
            <img src="https://fakeimg.pl/500x300" alt="">
              <div>
                <h2><a href="./pages/ReclameDetails.html">Reclame Titel 2</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat.</p>
                <a href="./pages/ReclameDetails.html">Lees meer</a>
              </div>
          </article>
    
          <article>
            <img src="https://fakeimg.pl/500x300" alt="">
              <div>
                <h2><a href="./pages/ReclameDetails.html">Reclame Titel 3</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat.</p>
                <a href="./pages/ReclameDetails.html">Lees meer</a>
              </div>
          </article>

          <article>
            <img src="https://fakeimg.pl/500x300" alt="">
              <div>
                <h2><a href="./pages/ReclameDetails.html">Reclame Titel 3</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat.</p>
                <a href="./pages/ReclameDetails.html">Lees meer</a>
              </div>
          </article>
        </section>
{% endblock %}